@{
    ViewData["Title"] = "CRUDelicious";
}

<div class="row">
    <div class="col-12 text-center">
        <h1>Welcome to CRUDelicious!</h1>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <h3>Check out some recent dishes!</h3>
    </div>

    <div class="col-6 text-right">
        <a class="dish-info" href="/new">Add a dish</a>
    </div>

</div>

<div class="row">
    <div class="col-8">

        @foreach (Dish dish in ViewBag.AllDishes)
        {
            Console.WriteLine(dish.DishId);
            <p class="dish-info">
                <a href=@dish.DishId>@dish.Name</a> by @dish.Chef
            </p>
        }
    </div>
</div>